- hosts: nginx
  become: true

  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Configure nginx load balancer
      copy:
        dest: /etc/nginx/sites-available/default
        content: |
          upstream backend {
              server 192.168.56.11:8000;
              server 192.168.56.11:8001;
              server 192.168.56.11:8002;
          }

          server {
              listen 80;

              location / {
                  proxy_pass http://backend;
              }
          }

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
