Host nginx nginx-1 192.168.56.10
  HostName 192.168.56.10
  User vagrant
  IdentityFile /home/vagrant/.ssh/vagrant_keys/nginx
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host backend backend-1 192.168.56.11
  HostName 192.168.56.11
  User vagrant
  IdentityFile /home/vagrant/.ssh/vagrant_keys/backend
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host db db-1 192.168.56.12
  HostName 192.168.56.12
  User vagrant
  IdentityFile /home/vagrant/.ssh/vagrant_keys/db
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
